In [1]:
import pandas as pd
import re
import csv

In [2]:
dataset=pd.read_excel("contacts.xlsx")
dataset_two=pd.read_excel("crowdfunding.xlsx")
dataset_three=pd.read_csv("category.csv")
dataset_four=pd.read_csv("subcategory.csv")

In [3]:
dataset.head()

    This list of contacts was updated on 11/10/2020.
0  Note: The contact information needs to be sepa...
1
2                                       contact_info
3  {"contact_id": 4661, "name": "Cecilia Velasco"...
4  {"contact_id": 3765, "name": "Mariana Ellis", ...

In [4]:
#-------------------------------------------Option 2 regular expressions------------------------------------------------#


contact_df = pd.DataFrame(columns=['contact_id','first_name','last_name','email'])
contact_df['contact_id']=contact_df['contact_id'].astype(int)                                   #converting string to int

for index in range(len(dataset)): 
    step_through_row= dataset.iloc[index] 
    filtered_row=list(filter(re.compile(".*{").match,step_through_row))                         # converting dictionary to list
    if filtered_row!=[]:                                                                        # getting rid of the empty lists
        filtered_row_string=''.join(map(str,filtered_row))
        contact_df.loc[index-3,['contact_id']]=re.findall(r'(\d\d\d\d)', filtered_row_string)  # creating df & offsetting index
        contact_df.loc[index-3,['first_name']]=re.findall(r'([A-Z]\w{0,}\s)', filtered_row_string)  
        contact_df.loc[index-3,['last_name']]=re.findall(r'(\s[A-Z]\w{0,})', filtered_row_string) 
        contact_df.loc[index-3,['email']]=re.findall('\w\S+@\S+.{3,4}\w',filtered_row_string)

In [12]:
merge_df=pd.merge(contact_df, dataset_two, on="contact_id")  # joining the dataframes 
merge_df

,contact_id,first_name,last_name,email,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,4661,Cecilia,Velasco,cecilia.velasco@rodrigues.fr,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,3765,Mariana,Ellis,mariana.ellis@rossi.org,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,4187,Sofie,Woods,sofie.woods@riviere.com,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,4941,Jeanette,Iannotti,jeanette.iannotti@yahoo.com,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,2199,Samuel,Sorgatz,samuel.sorgatz@gmail.com,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3684,Whitney,Noack,whitney.noack@laboratorios.org,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,5784,Gelsomina,Migliaccio,gelsomina.migliaccio@junk.com,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1498,Evangelista,Pereira,evangelista.pereira@thompson-peterson.biz,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,6073,Gareth,Comolli,gareth.comolli@tiscali.fr,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,4939,Michelangelo,Hess,michelangelo.hess@bouygtel.fr,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [39]:
merge_two_df = pd.DataFrame(columns=['category','sub-category'])

for index in range(len(merge_df['category & sub-category'])): 
     merge_two_df.loc[index,['category']]=(merge_df['category & sub-category'][index])
     merge_two_df.loc[index,['sub-category']]=merge_df['category & sub-category'][index]
#    print(values)
    
    
# for index in range(len(merge_df['category & sub-category'])):
#         print(merge_df['category & sub-category'][index])

In [40]:
merge_two_df['category']

0      food/food trucks
1            music/rock
2        technology/web
3            music/rock
4         theater/plays
             ...
995    food/food trucks
996       theater/plays
997       theater/plays
998    music/indie rock
999    food/food trucks
Name: category, Length: 1000, dtype: object

In [95]:
word='food/food trucks'
re.findall(r'([^\d]+)', word)  #^\S+

['food/food trucks']